<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" testdox="true" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="My Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!-- Code Coverage Configuration -->
  <!-- Environment Variables -->
  <php>
        <env name="ENV" value="dev"/>
        <env name="APP_NAME" value="msc-project"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_NAME" value="msc_project_test"/>
        <env name="DB_USER" value="msc_project"/>
        <env name="DB_PASS" value="msc_project"/>
        <env name="SMTP_HOST" value="smtp.gmail.com"/>
        <env name="SMTP_USER" value="dps30.msc.project@gmail.com"/>
        <env name="SMTP_PASS" value="urnq oiff blxl jzjs"/>
        <env name="SMTP_PORT" value="587"/>
        <env name="SMTP_SECURE" value="tls"/>
        <env name="SMTP_FROM" value="dps30.msc.project@gmail.com"/>
        <env name="SMTP_FROM_NAME" value="MSC PROJECT"/>
    </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
